<!-- shows create project button on project page and create issue buton if the project is open -->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="d-flex justify-content-around w-100">
    <div>
      <a class="navbar-brand ms-4" href="/" style="font-weight:bolder"> Issue Tracker </a>
    </div>
    
    <div>
      <% if( title==="Project Page" ){ %> <%- include('_issue_form'); %>
          <% }else{ %> <%- include('_project_form'); %>
              <% } %>
    </div>

  </div>
</nav>